NODE_ENV=""

NEXT_MUX_TOKEN_SECRET=""
NEXT_MUX_TOKEN_ID=""
NEXT_MUX_WEBHOOK_SECRET=""

NEXT_DATABASE_URL=""
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
NEXT_SUPABASE_SERVICE_ROLE_KEY=""

NEXT_WEBSITE_ASSETS_BUCKET_ID=""
NEXT_POST_THUMBNAILS_FOLDER=""

NEXT_STRIPE_API_SECRET=""
NEXT_STRIPE_WEBHOOK_SECRET=""

NEXT_PUBLIC_APP_URL=""

NEXT_PUBLIC_MAINTENANCE_MODE=""

CRON_SECRET=""

NEXT_SANITY_REVALIDATE_SECRET=""